<ion-header>
  <ion-toolbar>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Preferensi Aplikasi -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Preferensi Aplikasi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item button detail="false" (click)="presentNotificationSettingsAlert()">
        <ion-icon name="notifications-outline" slot="start" size="large"></ion-icon>
        <ion-label>
          <strong>Notifikasi</strong>
          <p>Pengaturan Notifikasi</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Informasi Aplikasi -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informasi Aplikasi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item button detail="false" (click)="presentAlert()">
        <ion-icon name="information-circle-outline" slot="start" size="large"></ion-icon>
        <ion-label>
          <strong>Tentang Aplikasi</strong>
          <p>Informasi Versi dan Developer</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>  
      <ion-item button detail="false" (click)="presentPrivacyPolicyAlert()">
        <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
        <ion-label>
          <strong>Kebijakan Privasi</strong>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>  
      <ion-item button detail="false" (click)="presentHelpCenterAlert()">
        <ion-icon name="help-circle-outline" slot="start" size="large"></ion-icon>
        <ion-label>
          <strong>Pusat Bantuan</strong>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>  
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <!-- Tab Beranda -->
    <ion-tab-button tab="beranda" routerLink="/beranda">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <!-- Tab Perpustakaan -->
    <ion-tab-button tab="perpustakaan" routerLink="/perpustakaan">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Perpustakaan</ion-label>
    </ion-tab-button>

    <!-- Tab Kategori -->
    <ion-tab-button tab="kategori" routerLink="/kategori">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Kategori</ion-label>
    </ion-tab-button>

    <!-- Tab Profil -->
    <ion-tab-button tab="profil" routerLink="/profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>