<ion-content fullscreen>
  <div class="login-container">

    <h1>Selamat Datang! <br> RAKBUKU <br> Login Untuk Mulai Sekarang</h1>
    
    <ion-card class="login-card">
      <ion-card-content>
        <ion-item>
          <ion-input type="email" placeholder="Masukan email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Masukan password"></ion-input>
          <ion-button fill="clear" slot="end">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-button expand="block" class="login-button" routerLink="/home">Login</ion-button>
        <div class="forgot-password">
          <ion-button fill="clear">Lupa Password?</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
  </div>

  <ion-footer class="ion-no-border">
    <section class="full-width">
      <div class="register-section">
        <label>Belum memiliki akun? daftar </label><label routerLink="/register" routerDirection="forward"><b>klik disini</b></label>
      </div>
    </section>
  </ion-footer>
</ion-content>
